*,
*::after,
*::before {
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-weight: 400;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
.header {
    padding-top: 63px;

}

.logo {
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
    margin-bottom: 40px;

    display: block;
}

.logo span {
    color: #4BCAFF;
}

.nav-menu-top{
    background-color: #35444F;
    display: flex;
    justify-content: center;
}

.top-list {
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.menu-item-top {
    display: flex;
}

.menu-link:nth-child(1) {
    border-left: 1px solid #FFFFFF;
}

.menu-link {

    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 24px;
    border-right: 1px solid #FFFFFF;
}

.menu-item-top:hover {
    background: #222F3A;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.nav-left {
    padding-top: 49px;
    padding-right: 52px;
}

.menu-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #000000;
    width: 344px;
}

.menu-item-left:hover {
    background-color: #DBDBDB;
    padding-left: 40px;
}

.menu-link-left{
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    display: block;
    padding: 25px 44px;
}

.image-ramda {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    margin-top: 48px;
    width: 885px;
    height: 529px;
}

.ramda {
    justify-content: center;
    align-items: center;
}

.text {
    width: 885px;
    height: 120px;
}

p {
   padding-top: 37px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
}

p:nth-child(2) {
    padding-top: 34px;
    padding-bottom: 54px;
}

.footer-menu {
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 20px;
}

.footer-menu-info {
    display: flex;
}

.info {
    margin: 20px;
    font-size: 28px;
    line-height: 28px;
}

.info-link {
    text-decoration: none;
    color: #0C1927;
}

.info-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.info-copy {
    font-size: 24px;
    line-height: 24px;
    justify-content: end;

}